
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    width: calc(33.33% - 40px); /* 33.33% for three cards in a row, minus margin */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-top: 10px;
}

.card-info {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-top: 15px;
}

.card-img {
    width: 100%;
    height: 15rem;
    border-radius: 10px;
}
